/* Contato */
#contato {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 3rem 0;
    flex-wrap: wrap;
  }
  
  .imgs-contato {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    max-width: 100%;
    width: 1200px;
  }
  
  .textos {
    background: linear-gradient(180deg, #E8F5C8 0%, rgb(255, 255, 255) 96%);
    padding: 2rem;
    margin-top: 16px;
    border-radius: 34px;
    max-width: 100%;
    width: 1200px;
    display: grid;
    justify-content: center;
  }
  
  .textos .titulo {
    font-family: "Krona One", sans-serif;
    font-size: 26px;
    color: var(--azul-escuro);
    display: flex;
    justify-content: center;
  }
  
  .textos .infos {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: #0C0421;
    line-height: 2rem;
    margin: 2rem 0;
  }
  
  .textos .btn-contato {
    width: 60%;
    margin: 0 20%;
    height: 45px;
    border: none;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    background: var(--azul-escuro);
    cursor: pointer;
    transition: all .3s ease;
  }
  
  .btn-contato:hover{
    background: var(--lilas-claro);
    transition: .5s;
  }
  
  /* Modal do formulário de contato */
  .modal{
    background-color: rgb(93, 88, 108, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* Ocultar a janela modal */
    display: none;
  }
  
  .conteudo-modal{
    margin: 0 auto;
    margin-top: 3%;
    max-width: 800px;
    background: linear-gradient(180deg, #E8F5C8 0%, rgb(255, 255, 255) 96%);
    padding: 40px 48px;
    border-radius: 8px;
  }
  
  .cabecalho-modal{
    padding: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
  
  .cabecalho-modal .cabecalho-titulo-modal{
    
    font-family: "Krona One", sans-serif;
    font-size: 26px;
    color: var(--azul-escuro);
    margin: 10px 0;
  }
  
  .cabecalho-modal .cabecalho-modal-fechar{
    border: solid 1px;
    font-weight: bold;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .cabecalho-modal .cabecalho-modal-fechar:hover{
    background: red;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .inputs-modal {
    display: grid;
    gap: 0.5rem;
  }
  
  .inputs-modal .paragrafo-modal {
    margin: 10px 0;
    color: #0C0421;
    font-size: 22px;
  }
  
  .inputs-modal label {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: #0C0421;
    font-weight: bold;
  }
  
  .inputs-modal input,
  .inputs-modal textarea {
    border-radius: 25px;
    padding: 1rem;
    border: none;
  }
  
  .inputs-modal textarea {
    height: 70px;
  }
  
  .rodape-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 105px;
  }
  
  .btn-enviar {
    width: 80%;
    border: none;
    border-radius: 40px;
    height: 45px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    background: var(--azul-escuro);
    cursor: pointer;
    transition: all .3s ease;
  }
  
  .btn-enviar:hover {
      background: var(--lilas-claro);
      transition: .5s;
    }
  
  
    /* Modal de formulário enviado */
  
  .modal-enviado{
    background-color: rgb(93, 88, 108, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
  }
    
  .conteudo-modal-enviado{
    margin: 0 auto;
    margin-top: 10%;
    max-width: 800px;
    background: linear-gradient(180deg, #E8F5C8 0%, rgb(255, 255, 255) 96%);
    padding: 40px 48px;
    border-radius: 8px;
  }
    
  .cabecalho-modal-enviado{
    padding: 1px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
    
  .cabecalho-modal-enviado .cabecalho-titulo-modal-enviado{
      
    font-family: "Krona One", sans-serif;
    font-size: 26px;
    color: var(--azul-escuro);
    margin: 10px 0;
  }
    
  .cabecalho-icone-modal-enviado{
    width: 68x;
    margin: 20px 0;
  }
  
  .btn-fechar{
    width: 40%;
    border: none;
    border-radius: 40px;
    height: 45px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    background: var(--azul-escuro);
    cursor: pointer;
    transition: all .3s ease;
  }
  
  .btn-fechar:hover {
    background: var(--lilas-claro);
    transition: .5s;
  }

  footer {
    background: #E8F5C8;
    padding: 2rem;
    text-align: center;
    font-size: 15px;
  }