:root {
  --fonte: "Montserrat", 'Krona One', 'Open Sans', sans-serif;
  --gradiente: linear-gradient(180deg, #E8F5C8 0%, rgb(255, 255, 255) 80%);
  --gradiente-card: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(202, 212, 250, 0.3) 100%);
  --verde-claro: #E8F5C8;
  --azul-escuro: #4E75FF;
  --lilas-claro: #85A0FF;
  --lilas-escuro: #0C0421;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--fonte);
}

/* Header */

.cabecalho {
  background: var(--verde-claro);
}

.cabecalho .cabecalho__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
  padding: 40px 16px;
  white-space: nowrap;
}

.cabecalho__nav--logo {
  width: 172px;
  height: 56px;
}

.cabecalho__nav--lista {
  font-size: 15px;
}

.cabecalho .cabecalho__nav .cabecalho__nav--line {
  width: 100%;
  border-bottom: 1px solid black;
}

.cabecalho .cabecalho__nav .cabecalho__nav--lista {
  display: inline-flex;
  list-style: none;
}

.cabecalho .cabecalho__nav .cabecalho__nav--lista a {
  color: #0C0421;
  margin: 0 1.3rem;
  text-decoration: none;
  font-weight: 400;
  line-height: 150%;
}

.cabecalho .cabecalho__nav .cabecalho__nav--lista a:hover {
  font-weight: 600;
  transition: .5s;
}

@media screen and (min-width: 768px) {
  /* Tablet */

  .cabecalho__nav--logo {
    width: 270px;
    height: 88px;
  }

  .cabecalho__nav--lista {
    font-size: 22px;
  }

}

